@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Racing+Sans+One&family=Russo+One&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(0,22,43,255);
    overflow-x: hidden;
  }

  
.texteRouge {
  color: #c41846;
}

.f1test {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.f1test2 {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}


/* ========================= La carte ========================= */ 

.svgCarte {
    width: 70%;
    height: auto;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.247);
}

.icon {
  margin-right: 10px;
}


.carteContainer {
  display: flex;
  flex-direction: row;
}

.titreCarteInteractive {
  color: #ffffff;
  font-family: "Goldman", sans-serif;
  margin-bottom: 5%;
  font-size: 75px;
}

.partieGaucheCarte {
  z-index: 5;
  margin-left: 4%;
  background-color: rgba(99, 12, 34, 0.87);
  width: 400px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.342);
}

.QuanticGPCarteFH {
  max-width: 350px;
  margin-top: 30px;
}

.sousTitreCarteInteractive {
  color: white;
  font-size: 17px;
  font-family: "Host Grotesk", sans-serif;
  font-weight: 900;
}

.HRlegendeCarte {
  max-width: 91%;
  border-color: #e51e53;
  margin-bottom: 0;
  margin-top: 0;
}

.showhideall {
  color: white;
  font-size: 14px;
  font-family: "Host Grotesk", sans-serif;
  font-weight: 900;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.showhideall:hover {
  text-decoration: underline;
}

.ligneLegendeEvenement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
  margin-top: 15px;
}

.ligneLegendeEvenement p {
  display: flex; /* Flexbox pour le paragraphe */
  justify-content: space-between; /* Aligne les enfants (texte + numéro) */
  align-items: center;
  width: 100%; /* Occupe toute la largeur du conteneur */
  margin: 0; /* Supprime les marges par défaut */
}

.legendeTextAlignGauche {
  display: flex; /* Pour contenir les icônes et le texte correctement */
  align-items: center;
  gap: 5px; /* Espace entre l'icône et le texte */
}

.legendeTextAlignDroite {
  margin-left: auto; /* Force l'élément à se placer à droite */
  text-align: right;
}

.base-path {
  fill: #000000;
  opacity: 0; /* par défaut, tous les emplacements sont invisibles */
  transition: opacity 0.3s; 
}

.highlight {
  animation: highlight-effect 3s infinite ease-in-out, dash 2s linear infinite; /* Deux animations */
  opacity: 1;
  fill: rgba(116, 0, 0, 0.3); 
  stroke: #b65f5f; 
  stroke-width: 5; 
  stroke-dasharray: 10, 5; 
  stroke-dashoffset: 0; 
  transition: stroke 0.3s ease-in-out;
}

.highlight:hover {
  cursor: pointer;
  stroke: #b1b1b1;
}

@keyframes highlight-effect {
  0% {
    fill: #7400004b;
  }
  50% {
    fill: #c9000036; 
  }
  100% {
    fill: #7400004b;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 0; 
  }
  100% {
    stroke-dashoffset: -30; 
  }
}

  
/* ========================= Info-bulle =========================*/
.tooltip {
    position: absolute;
    padding: 30px;
    background-color: rgba(19, 16, 46, 0.945);
    color: #fff;
    border-radius: 15px;
    pointer-events: none; /* Permet de ne pas interférer avec les clics ou survols */
    font-size: 16px;
    font-family: "Host Grotesk", sans-serif;
    white-space: nowrap;
    z-index: 10; /* S'assure que le tooltip soit au-dessus du SVG */
    white-space: pre-line;
    max-width: 400px;
}

.tooltip div {
    margin-bottom: 5px; /* Espacement entre les lignes */
}

.toolTipHR {
  max-width: 75%; 
  margin-top: 0px; 
  margin-bottom: 20px;
  background-color: rgb(197, 197, 197);
  height: 1px;
  border: none;
}

.toolTipName {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}

.toolTipStatut {
  font-weight: 800;
  color: rgb(228, 186, 0);
  display: inline;
}

.status-reserve {
  color: rgb(155, 0, 0);
}

.status-libre {
  color: green;
}

.small-font {
  font-size: 16px;
}

.active-color-tooltip {
  color: rgb(197, 197, 197);
}

.infosContainer {
  padding: 10px 0 10px 20px;
  border-left: #ffffffd3 4px solid;
  background-color: rgba(243, 38, 93, 0.363);
  border-radius: 8px;
  margin-top: 30px;
  text-align: left;
  font-size: 16px;
  color: #d4d4d4;
  word-wrap: break-word;
  padding-right: 15px;
}

.toolTipTextTitle {
  font-weight: 700;
  font-size: 17px;
  color: #ececec;
}

.toolTipNomPrestataire {
  margin-top: 15px;
  font-weight: 900;
  font-size: 23px;
  color: rgb(255, 255, 255);
}

.background-nom-prestataire {
  display: inline-block;
  padding: 5px 15px; 
  border-radius: 4px; 
  background-color: #e51e5398;
}

.toolTipTypePrestataire {
  font-weight: 900;
  font-size: 18px;
  color: rgb(197, 197, 197);
}

.toolTipPrix {
  padding-top: 15px;
  font-weight: 600;
}

.toolTipCB {
  font-weight: 600;
}

.toolTipDetails {
    margin-top: 30px;
}

.toolTipImage {
    margin-top: 30px;
}

.imageInTooltip {
  border-radius: 12px;
}


/* ========================= Section 1 =========================*/

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assure que la vidéo couvre toute la section */
  z-index: 1; 
}


.overlayVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /* Fond noir avec 50% d'opacité */
  z-index: 2; /* Place l'overlay au-dessus de la vidéo, mais derrière le contenu */
}


.nomEvenementSection1 {
  position: absolute;
  font-family: "Goldman", sans-serif;
  color: white;
  font-size: 110px;
  text-align: center;
  z-index: 3;
  line-height: 1.5;
}

.sousTitreEvenementSection1 {
  position: absolute;
  font-family: "Goldman", sans-serif;
  color: rgba(216, 216, 216, 0.856);
  font-size: 30px;
  z-index: 3;
  border-left: 5px solid rgb(216, 216, 216, 0.856);
  padding-left: 20px;
}

.span1 {
  color: #e51e53;
}

.span2 {
  color: #b9113ed3;
}


/* ========================= Section 2 =========================*/


.imageBaniere {
  position: absolute;
  max-width: 80%;
  border-radius: 25px;
  margin-bottom: 18%;
  opacity: 1;
}

/* Classes d'animation Vue.js */
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s ease-in-out; /* Transition de fondu */
}

.fade-enter, .fade-leave-to {
  opacity: 0; /* Lors de l'entrée et la sortie, l'image devient transparente */
}

.fade-enter-to, .fade-leave {
  opacity: 1; /* Quand l'image est pleinement visible */
}


/* ========================= Section 2A =========================*/

.containerTexteA {
  background-color: #1a2e41;
  border-radius: 20px;
  padding: 40px;
  max-width: 1000px;
  margin-right: 5%;
  margin-bottom: 20%;
}

.titrePremierTexte {
  margin-bottom: 40px;
  font-family: "Goldman", sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 600;
  text-align: left;
}

.nomCitation {
  font-size: 22px;
  font-weight: 400
}

.premierTexte {
  border-top: 2px solid #3f5264;
  padding-top: 40px;
  text-align: justify;
  color: rgb(236, 236, 236);
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}


.carteHistoireCircuit {
  border-radius: 30px ;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.247);
  background-image: url('../../public/assets/homePage/carteHistoireCircuit.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 397px;
  height: 513px;
  color: rgb(238, 238, 238);
  margin-bottom: 13%;
  text-align: left;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.carteHistoireCircuit:hover {
  transform: scale(1.02) rotate(3deg);
}

.texteHistoireCircuit {
  margin-top: 95%;
  margin-left: 5%;
  margin-bottom: 20px;
  font-family: "Goldman", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 28px;
  font-weight: 600;
}

.sousTitreHistoireCircuitUn {
  font-size: 15px;
  font-family: "Goldman", sans-serif;
  color: rgb(240, 240, 240);
  margin-left: 5%;
  margin-bottom: 5%;
}

.sousTitreLectureEnUn {
  color: rgb(199, 199, 199);
  margin-left: 5px;
}


/* ========================= Section 2B =========================*/


.carteCoulisses {
  border-radius: 30px ;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.247);
  background-image: url('../../public/assets/homePage/carteCoulisse.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 397px;
  height: 513px;
  color: rgb(238, 238, 238);
  margin-bottom: 50%;
  margin-right: 7%;
  text-align: left;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: rotate(1deg);
}

.carteCoulisses:hover {
  transform: scale(1.02) rotate(2deg);
}

.carteVieMonaco {
  border-radius: 30px ;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.247);
  background-image: url('../../public/assets/homePage/carteVieMonaco.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 397px;
  height: 513px;
  color: rgb(238, 238, 238);
  margin-bottom: 55%;
  margin-right: 6%;
  text-align: left;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: rotate(-3deg);
}

.carteVieMonaco:hover {
  transform: scale(1.02) rotate(-5deg);
}

.carteGuidePratique {
  border-radius: 30px ;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.247);
  background-image: url('../../public/assets/homePage/carteGuide.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 397px;
  height: 513px;
  color: rgb(238, 238, 238);
  margin-top: 5%;
  margin-bottom: 50%;
  text-align: left;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: rotate(2deg);
}

.carteGuidePratique:hover {
  transform: scale(1.02) rotate(3deg);
}


/* ========================= Date / Lieu événement (Section 2) =========================*/


.ContainersTopSection2 {
  gap: 40px;
  display: flex;
  margin-bottom: 0%;
}

.calendrierContainer {
  background-color: #1a2e41;
  padding-top: 1px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
  border-radius: 20px;
  font-family: "Goldman", sans-serif;
  color: white;
}

.verticalDate {
  font-size: 20px; 
  text-align: left;
  font-family: "Host Grotesk", sans-serif;
  font-weight: 700;
  padding-top: 15px;
}

.ligneDate {
  display: flex; /* Active l'affichage en ligne */
  align-items: center; 
  gap: 40px;
  border-top: 1px solid #3f5264;
  margin-bottom: 1px;
  margin-top: 15px;
}

.journeeCalendrier {
  font-size: 15px;
  color: rgb(187, 187, 187);
  font-family: "Host Grotesk", sans-serif;
}

.secondSec2Container {
  position: relative;
  display: flex; /* Active Flexbox */
  flex-direction: column; /* Aligne les éléments en colonne */
  justify-content: flex-start; /* Alignement vertical (haut si c'est en colonne) */
  align-items: flex-start;
  background-color: #1a2e41;
  border-radius: 20px;
  height: 400px;
  width: 1050px;
}

.photoMonacoNuit {
  filter: brightness(40%);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 400px;
  clip-path: inset(0 25% 0 0);
}

.nomCircuit {
  position: absolute; /* Positionnement par rapport au conteneur parent */
  font-family: "Goldman", sans-serif;
  top: 0%;
  left: 5%;
  color: white; 
  font-size: 32px; 
}

.lieuCircuit {
  position: absolute; /* Positionnement par rapport au conteneur parent */
  font-family: "Host Grotesk", sans-serif;
  top: 16%;
  left: 5%;
  color: rgb(182, 182, 182); 
  font-size: 16px; 
}


/* ========================= SECTION 4 : LES ÉCURIES =========================*/


.titreLesEcuries {
  color: #ffffff;
  font-family: "Goldman", sans-serif;
  margin-bottom: 80px;
  margin-top: 175px;
  font-size: 75px;
}

.cartesPilotes1 {
  left: 0px; 
  transform: rotate(-3deg);
  height: 100%;
  width: auto;
}

.cartesPilotes2 {
  right: 0px; 
  transform: rotate(4deg);
  height: 100%;
  width: auto;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 400px; 
  height: 550px; 
  object-fit: cover;
  border-radius: 10px; 
}

.arrow.left {
  margin-right: 150px;
  height: 90px;
  width: 65px;
  padding: 10px 20px;
  background-color: #1a2e41;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.arrow.right {
  margin-left: 150px;
  height: 90px;
  width: 65px;
  padding: 10px 20px;
  background-color: #1a2e41;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.arrow:hover {
  background-color: #e51e53;
}

.team-logo {
  margin-bottom: 20px;
}

.fade-enter-active,
.fade-leave-active {
  position: absolute; 
}

.fade-enter-from {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
  transform: scale(1);
}

.fade-leave-from {
  opacity: 1;
  transform: scale(1);
}

.fade-leave-to {
  opacity: 0;
}

.duo-container {
  position: relative; 
  width: 900px; 
  height: 550px; 
}

.duo-container img {
  position: absolute; 
  top: 0;
  transition: opacity 0.40s ease, transform 0.5s ease; 
}

.HRteamLogoCarousel {
  border: none;
  height: 3px; 
  border-radius: 15px;
  background-color: #1a2e41; 
  width: 45%; 
  margin: 10px 0;
  margin-bottom: 75px;
}

.car-image {
  border-radius: 30px;
  height: 500px;
  width: auto;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.767);
}


.car-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-left: 150px;
}

.car-image-container {
  flex: 0 0 500px;
  position: relative;
}

.text-container {
  flex: 1; /* Permet au texte de s’adapter dynamiquement */
}


.partieEcurieTitre {
  color: #ffffff;
  font-family: "Goldman", sans-serif;
  margin-bottom: 0;
}

.sousTitrePartieEcurie {
  color: white; 
  font-size: 23px; 
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-left: 5px;
  margin-top: 0;
}

.contenuPartieEcurie {
  color: white; 
  font-size: 22px;
  font-family: "Host Grotesk", sans-serif;
  font-weight: 500;
}

.arrow_voiture {
  position: absolute;
  background-color: transparent;
  font-size: 60px;
  top: 50%; 
  transform: translateY(-50%);
  border: none;
  color: white;
}

.arrow_left_voiture {
  left: 10px;
}

.arrow_right_voiture {
  right: 10px;
}

.arrow_voiture:hover {
  color:#e51e53 ;
  background-color: transparent;
}

/* ========================= Compte à rebours =========================*/


.titreCompteRebours {
  position: absolute;
  bottom: 100%;
  font-family: "Goldman", sans-serif;
  color: white;
} 


.countdown-container {
  position: absolute;
  top: 30%;
  left: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacement entre les cercles */
}

.countdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 100px; /* Taille du cercle */
  height: 100px;
  border: 1px solid #96969694; /* Couleur et épaisseur de la bordure */
  border-radius: 50%; /* Rend le div circulaire */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Fond du cercle */
}

.number {
  font-family: "Goldman", sans-serif;
  font-size: 26px; /* Taille du numéro */
  font-weight: bold;
  color: #dbdbdb; /* Couleur du texte */
}

.label {
  padding-top: 5px;
  font-size: 12px; /* Taille du label */
  color: #bdbdbd; /* Couleur plus claire pour le label */
}


/* ========================= Barre de progression =========================*/


.progress-container {
  left: 57%;
  top: 65%;
  position: absolute;
  width: 35%; /* Largeur totale de la barre */
  height: 60px; /* Hauteur totale */
  margin: 20px auto; /* Centré avec un espace au-dessus */
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 25px; /* Hauteur de la barre */
  border: 2px solid #96969694; /* Bordure */
  border-radius: 10px;
  overflow: hidden; /* Cache les débordements */
}

.progress-fill {
  position: absolute;
  top: 0; /* Assure que le remplissage commence au bord supérieur */
  left: 0;
  height: 100%; /* Remplit toute la hauteur */
  background-color: #3f4f5f; /* Couleur de remplissage */
  transition: width 0.5s ease; /* Animation fluide */
}

.f1-icon {
  position: absolute;
  top: 7px; /* Place la F1 légèrement au-dessus de la barre */
  height: 22px; /* Taille ajustée pour être visible */
  transition: left 0.5s ease; /* Animation fluide pour le mouvement */
}

.flag-icon {
  position: absolute;
  right: 0; /* Placé à l'extrémité droite */
  top: 0px; /* Ajusté pour aligner avec la barre */
  height: 25px; /* Taille du drapeau */
}


/* ========================= Les sections =========================*/

.page-container {
    height: 100vh;
  }
  
  .section {
    height: 100vh; /* Chaque section prend toute la hauteur de l'écran */
    scroll-snap-align: start; /* S’aligne au début de chaque section */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }


  #section1 {
    position: relative;
    background-color: rgba(0,22,43,255);
    font-family: "Host Grotesk", sans-serif;
  }

  #section2 {
    background-color: rgba(0,22,43,255);
    height: 60vh;
  }

  #section2A {
    margin-top: 130px;
    margin-bottom: 180px;
    height: 60vh;
  }

  #section2B {
    margin-top: 620px;
    height: 0;
  }

  #section3 {
    background-color: rgba(0,22,43,255);
    display: flex;
    flex-direction: column;
    height: 115vh;
    align-items: center;
  }

  #section4 {
    background-color: rgba(0,22,43,255);
    display: flex;
    flex-direction: column;
    height: 250vh;
    justify-content: start;
  }


  /* ========================= La scrollbar =========================*/


  /* Largeur de la scrollbar */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track de la scrollbar */
  ::-webkit-scrollbar-track {
    background: #08070f; 
  }
  
  /* Couleur et style du "thumb" (la partie défilante) */
  ::-webkit-scrollbar-thumb {
    background-color: #37363d;
    border-radius: 10px;   
  }
  
  /* Changement de couleur au survol */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }


  /* ========================= Les boutons de la carte =========================*/


  .buttonSwitchStands {
    padding: 8px;
    color: white;
    background-color: #8d3434; 
    border: none;
    border-radius: 3px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; /* Animation pour l'effet de survol */

    font-family: "Host Grotesk", sans-serif;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: 10%;
    margin-top: 10%;
    user-select: none;
  }

  .buttonSwitchStands:hover {
    background-color: #792626; /* Couleur de fond au survol */
    transform: scale(1.01); /* Agrandissement au survol */
  }

  .buttonSwitchStands:active {
    transform: scale(0.95); /* Effet au clic pour une petite réduction */
  }

  .iconButtonSwitchStands {
    width: 130px; /* Taille de l'icône */
    height: auto; /* Taille de l'icône */
    object-fit: contain; /* Assure que l'icône garde ses proportions */
  }

  .buttonSwitchAffichageStands {
    font-family: "Host Grotesk", sans-serif;
    color: white;
    font-weight: 700;
    background-color: transparent;
    font-size: 15px;
    border-radius: 0;
    border: 2px solid rgba(110, 13, 38, 0.87);
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .buttonSwitchAffichageStands:hover {
    background-color: rgba(100, 12, 34, 0.87);
  }

  .buttonSwitchAffichageStands:active {
    transform: scale(0.99);
  }

  .legendePartieEvent {
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px
  }

  .buttonLegendeEvenement {
    color: gray;
    font-family: "Host Grotesk", sans-serif;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
  }

  .buttonLegendeEvenement:hover {
    color: rgb(114, 114, 114);
  }

  .buttonLegendeEvenement.active .legendeTexte {
    color: rgb(230, 230, 230);
    text-decoration: none; 
  }

  .buttonLegendeEvenement.active .icon,
  .buttonLegendeEvenement.active .legendeTextAlignDroite {
    color: rgb(219, 219, 219);
    text-decoration: none; 
  }


  /* ========================= Bannière infini =========================*/


  .scroll-banner {
    position: relative; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Hauteur du bandeau */
    overflow: hidden;
    background-color: #f0f0f0;
  }


  .scroll-content {
    display: flex;
    height: 100%;
    will-change: transform; /* Optimisation des performances */
  }
  
  .scroll-content img {
    height: 100%;
    display: block;
    /* Optionnel : Répétition horizontale si tu veux "infinir" avec une image plus courte */
  }
